<%= form_with model: @puzzle, url: puzzle_path(@puzzle), method: :patch, class:"puzzle_form" do |f| %>
	<div class="text-center">
		<h2>Brew Puzzle</h2>
	</div>

	<div class="form-outline mb-4">
		<%= f.label :title, "Puzzle title", class:"form-label"%>
		<%= f.text_field :title, class:"form-control" %>
	</div>

	<div class="form-outline mb-4">
		<%= f.label :difficulty, "Difficulty", class:"form-label" %>
		<%= f.select :difficulty, options_for_select(@difficulty)%>
	</div>

	<div class="form-outline mb-4">
		<%= f.label :description, "Description", class:"form-label" %>
		<%= f.text_area :description, class:"form-control" %>
	</div>

	<div class="form-outline mb-4">
		<%= f.label :function, "Function name and parameters, Ex: sum(num1, num2)", class:"form-label" %>
		<%= f.text_field :function, class:"form-control" %>
	</div>

	<% 3.times do |index| %>
		<div id="test-cases" class="form-outline mb-4 border float-end">
			<p>Test case # <%= index+1 %></p>
			<div class="form-outline mb-2">
			<%= f.label :"test_cases", "Test case. Your test case for the created function, Ex: sum(1,2)" %>
			<%= f.text_field :"test_cases",multiple: true, value: @puzzle.test_cases[index],class:"form-control" %>
			</div>

			<div class="form-outline">
			<%= f.label :"expected_outputs", "Expected Output of test case, Ex: 3 (based on sum(1,2))" %>
			<%= f.text_field :"expected_outputs",multiple: true, value: @puzzle.expected_outputs[index], class:"form-control" %>
			</div>
		</div>
	<% end %>

	<%= f.submit "Brew!", class: "btn btn-dark btn-block mb-4"%>
<% end %>